body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding:0 ;
    margin:0 ;
    background-color:aquamarine;
    }
    header {
        background-color:darkcyan;
        color:lightblue;
        padding: 1em 0;
        text-align: left;
       }
    